/cmd/mycli/mycli
/cmd/mydaemon/mydaemon
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

*.out
*.log

/build/*
!/build/.gitkeep
/bin/
/dist/
/coverage.out

/vendor/

.idea/
.vscode/
*.swp
*.swo
*.bak

.DS_Store
Thumbs.db
*.~undo-tree~
*~

.env
*.local
*.secret

**/testdata/
*.coverprofile
*.testresult

logs/
*.pid

go.sum

node_modules/
npm-debug.log

